---
# See which assets are online
- name: Check Reachable
  ansible.builtin.import_playbook: "../actions/utilities/check_reachable.yaml"

- name: Define Project Root
  ansible.builtin.import_playbook: "../actions/utilities/define_project_root.yaml"

# Synchronize Target clock with Ansible Machine's clock (optional)
- name: Sync Clocks
  ansible.builtin.import_playbook: "../actions/utilities/set_date.yaml"
  when: sync_clocks | default(False)

# Deploy ArduinoAdapter
- name: Deploy ArduinoAdapter
  ansible.builtin.import_playbook: "../actions/arduino_adapter/deploy_arduino_adapter.yaml"
  when: inventory_hostname != "CONTROLLER"

- name: Deploy Controller
  ansible.builtin.import_playbook: "../actions/controller/deploy_controller.yaml"
  when: inventory_hostname == "CONTROLLER"
