---
# See which assets are online
- name: Check Reachable
  ansible.builtin.import_playbook: "../actions/utilities/check_reachable.yaml"

- name: Define Project Root
  ansible.builtin.import_playbook: "../actions/utilities/define_project_root.yaml"

# Synchronize Target clock with Ansible Machine's clock (optional)
- name: Sync Clocks
  ansible.builtin.import_playbook: "../actions/utilities/set_date.yaml"
  when: sync_clocks | default(False)

- name: Reboot
  hosts: "{{ ('reachable' not in groups and 'unreachable' not in groups) | ternary('all', 'reachable') }}"
  strategy: free
  gather_facts: false
  tasks:
    - name: Reboot
      ansible.builtin.shell:
        cmd: >
          reboot now
      become: true