---
# See which assets are online
- name: Check Reachable
  ansible.builtin.import_playbook: "../actions/utilities/check_reachable.yaml"

- name: Define Project Root
  ansible.builtin.import_playbook: "../actions/utilities/define_project_root.yaml"

# Synchronize Target clock with Ansible Machine's clock (optional)
- name: Sync Clocks
  ansible.builtin.import_playbook: "../actions/utilities/set_date.yaml"
  when: sync_clocks | default(False)

# Start ArduinoAdapter
- name: Start Software
  ansible.builtin.import_playbook: "../actions/arduino_adapter/start_arduino_adapter.yaml"

# Start Controller
- name: Start Software
  ansible.builtin.import_playbook: "../actions/controller/start_controller.yaml"
  when: inventory_hostname == "CONTROLLER"