---
- name: Define Project Root
  ansible.builtin.import_playbook: "../utilities/define_project_root.yaml"
  when: project_root is not defined 

- name: Stop Container
  hosts: "{{ ('reachable' not in groups and 'unreachable' not in groups) | ternary('all', 'reachable') }}"
  strategy: free
  gather_facts: false
  tasks:
    - name: Stop Container
      ansible.builtin.shell:
        cmd: docker compose down
        chdir: "{{ data_root }}"
      become: true
    - name: Stop Containers leftover
      ansible.builtin.shell:
        cmd: docker stop $(docker ps -aq)
        chdir: "{{ data_root }}"
      become: true
      failed_when: false